<!DOCTYPE html>
<html ng-app="MyApp" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple Web Server</title>
	<link rel="stylesheet" href="/assets/style.css">
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"
	        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/bower_components/angular/angular.js"></script>
</head>
<body>

<div class="wrapper" ng-controller="MainController as vm">
	<h1>{{ vm.responding }}</h1>
	<strong>{{ vm.ejs_template_engine }}</strong>

	<br><br>

	<input type="text" ng-model="vm.message">
	<h1>{{ vm.message }}</h1>

	<br><br>

	<ul>
		<li ng-repeat="person in vm.people">{{ person.name }}</li>
	</ul>

	<form method="POST" action="/person">
		<label for="firstname">First Name: </label>
		<input type="text" name="firstname" id="firstname"> <br>
		<label for="lastname">Last Name: </label>
		<input type="text" name="lastname" id="lastname"> <br>
		<input type="submit" name="submit" value="SUBMIT">
	</form>
</div>

<!--<script>
	var obj = {firstname: 'Ken', lastname: 'Vilar'};
	$.ajax({
		type: 'POST',
		url: '/person-json',
		data: JSON.stringify(obj),
		dataType: 'json',
		contentType: 'application/json'
	});
</script>-->

<script src="/assets/js/app.js"></script>

</body>
</html>
