<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple Web Server</title>
	<link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<h1>RESPONDING...</h1>
<strong>EJS Template Engine</strong>
<h1>SIMPLE WEB SERVER</h1>

<form method="POST" action="/person">
	<label for="firstname">First Name: </label>
	<input type="text" name="firstname" id="firstname"> <br>
	<label for="lastname">Last Name: </label>
	<input type="text" name="lastname" id="lastname"> <br>
	<input type="submit" name="submit" value="SUBMIT">
</form>

</body>
</html>
