<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple Web Server</title>
	<link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<h1>RESPONDING...</h1>
<strong>EJS Template Engine</strong>

</body>
</html>
